doctype html
html
  head
    title Slack Like Twitter Client
    link(href="./renderer/stylesheets/vender.css" rel="stylesheet" type="text/css")
    link(href="./renderer/stylesheets/application.css" rel="stylesheet" type="text/css")
    script(src="../vender/time-elements/time-elements.js" type='text/javascript')
    script(type='text/javascript').
      require("./renderer/application");
      require("./renderer/javascripts/modal");

  body
    #modal
    #webview
    #root
      .container
        .side-menu
          #profile
          #lists
        #main-article
          #tweets
          #header
            h1 HOME TIMELINE
            .ui.icon.input
              input( type="text" placeholder="Search..." )
              i.search.icon
          #tweet-box
