doctype html
html
  head
    title Slack Like Twitter Client
    link(href="../vender/semantic/dist/semantic.min.css" rel="stylesheet" type="text/css")
    link(href="./renderer/stylesheets/application.css" rel="stylesheet" type="text/css")
    script(type='text/javascript').
      require("./renderer/application");

  body
    #webview
    #root
      .container
        .side-menu
          #profile
          #lists
        #main-article
