doctype html
html
  head
    meta(charset="UTF-8")
    title Slack Like Twitter Client
    link(href="./renderer/stylesheets/vender.css" rel="stylesheet" type="text/css")
    link(href="./renderer/stylesheets/application.css" rel="stylesheet" type="text/css")
    script(src="../vender/time-elements/time-elements.js" type='text/javascript')
    script(src="../vender/velocity/velocity.min.js" type='text/javascript')
    script(type='text/javascript').
      require("./renderer/application");
      require("./renderer/javascripts/modal");

  body
    #modal
    #webview
    #root
