#header
  display flex
  justify-content space-between
  padding 6px
  background #FFF
  border-bottom 1px solid #EEE
  h1
    font-size 20px
    margin 0
    line-height 35px
    margin-left 7px
    color #333
