::selection
  background #00acee
  color #FFF
a
  cursor pointer

#webview
  position absolute
  top 0
  left 0
  right 0
  bottom 0

#root
  height 100%

.ui.form textarea
  resize none
  border-radius 0
  padding 4px
  min-height 0

.container
  display flex
  height 100%


#main-article
  flex 1
  display flex
  flex-direction column
  height 100%

  #tweets
    overflow-y scroll

  #tweet-box
    height 20%

  .tweet-form
    margin 16px

  .tweet-panel
    text-align right
    background-color #EEE
    padding 6px

.tweets
  padding 0 1rem

.tweets-hide
  display none
