body
  font-family "RobotoDraft", "Roboto", sans-serif, "Open Sans", "Helvetica Neue", Helvetica, "Arial", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif

::selection
  background #00acee
  color #FFF
a
  cursor pointer

#webview
  position absolute
  top 0
  left 0
  right 0
  bottom 0

#root
  height 100%

#title-bar
  height 38px
  border-bottom 1px solid #EEE

.container
  display flex
  height 100%


#main-article
  box-shadow 0 2px 5px rgba(0,0,0,0.26)
  flex 1
  display flex
  flex-direction column
  height 100%
  position relative

  #tweets
    overflow-y scroll
    margin-top 34px
    margin-bottom 52px

  #tweet-box
    position absolute
    bottom 0
    left 0
    right 0

  .tweet-form
    margin 8px

.tweets
  padding 0 1rem

.tweets-hide
  display none
