.side-menu
  width 220px
  background-color #FFF
  color #333

  .user
    display flex
    padding-left 16px
    margin-top 8px
    padding-bottom 8px
    border-bottom 1px solid #EEE

    .profile-image
      img
        width 32px
        border-radius 4px
    .screen-name
      margin-left 10px
      font-size 1.125rem
      line-height 32px
      i
        margin-right 1px

  h3
    padding-left 16px
    font-size .8rem
    line-height 1.25rem
    margin-top 20px
    margin-bottom 10px
    text-transform uppercase
    font-weight 700
    //color #ab9ba9

  .channel-list
    ul
      list-style none
      margin-top 10px
      padding 0
      li
        margin-right 16px
        border-radius 0 4px 4px 0
        padding-left 16px
        padding 6px 16px
        position relative
        cursor pointer
        .prefix
          font-weight 300
          opacity .5
          margin-right 2px
        a
          color #00bcd4
          display block
        i
          margin-right 4px
          font-size .9em
          color #7B7B7B
        &.enabled
          i
            color #4BB787
        &.active
          i
            color #00bcd4
        &:hover
          background-color #EEE
          color #00bcd4
        &.active
          color #00bcd4
          a
            color #00bcd4
