.tweet
  display flex
  margin 5px 0
  border-bottom 1px solid #F1F1F1
  padding 5px 0

  .profile-image
    position relative
    width 42px
    height 42px
    img
      width 42px
      border-radius 4px
  .contents
    flex 1
    margin-left 10px

  .contents-header
    display flex
    .name
      font-weight bold
    .screen-name
      font-size 13px
      color #8899a6
      margin-left 4px
      i
        margin-right 1px
      b
        font-weight normal
    .protected
      font-size 13px
      color #8899a6
      margin-left 4px
    .created-at
      margin-left auto
      color #DADADA
      font-size 12px
      cursor pointer
      a
        color #DADADA
  .media
    height 200px
    margin-top 12px
    img
      max-height 100%
      max-width 80%

  .contents-footer
    position relative
    color #DADADA
    display flex
    .action
      cursor pointer
      margin 4px 12px
      margin-bottom 0
      font-size 14px
    .reply
      margin-left 0
      &:hover
        color #087FFF
    .retweet
      &:hover
        color #5c913b
    .favorite
      &:hover, &.favorited
        color #ffac33
    .source
      font-size 12px
      margin-top 4px
      margin-left auto
      a
        color #DADADA
        &:before
          content: 'via '

   &.retweet
    .retweet-user
      position absolute
      right -4px
      bottom -4px
      width 20px
