#tweet-box
  border-top 1px solid #EEE
  background-color #FFF
  .tweet-form
    display flex
    .account
      margin-left 6px
      margin-right 8px
      img
        width 30px
        border-radius 4px
        border 1px solid #EEE
    .form-box
      width 100%
      textarea
        resize none
        padding 6px
        padding-left 10px
        min-height 0
    .tweet-panel
      display none
      text-align right
      padding 6px
      padding-right 0
      margin-bottom 10px


